@import "tailwindcss";


body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

.headline {
  font-family: 'Inter', sans-serif;
  font-weight: 500;           
  letter-spacing: -0.022em;  
  line-height: 1.3;
}

body, html {
  background-color: black;
}
